/* Copyright 2003 Michael J. Roberts */

/*
Name
  tr32.rc - TADS 2+3 combined interpreter resource script
Function
  
Notes
  
Modified
  07/01/03 MJRoberts  - creation
*/

#include <Windows.h>

/* the main application icon */
101  ICON  DISCARDABLE "tr32.ico"
