<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Gargoyle</string>
	<key>CFBundleDisplayName</key>
	<string>Gargoyle</string>
	<key>CFBundleName</key>
	<string>Gargoyle</string>
	<key>CFBundleGetInfoString</key>
	<string>2011.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIconFile</key>
	<string>house.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.googlecode.garglk.Launcher</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>2011.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006-2011 GNU General Public License</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>taf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.adrift</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>agx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.agt</string>
			</array>
		</dict>		
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>a3c</string>
				<string>acd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.alan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blb</string>
				<string>blorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ulx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.glulx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glb</string>
				<string>gblorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.glulx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.hugo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jacl</string>
				<string>j2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jacl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>l9</string>
				<string>sna</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.level9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mag</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.magnetic</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asl</string>
				<string>cas</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.quest</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>saga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.saga</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gam</string>
				<string>t3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tads</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z3</string>
				<string>z4</string>
				<string>z5</string>
				<string>z6</string>
				<string>z8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zcode</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zlb</string>
				<string>zblorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docu2.icns</string>
			<key>CFBundleTypeName</key>
			<string>Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.zcode</string>
			</array>
		</dict>		
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.adrift</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>taf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.agt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>agx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.alan</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>acd</string>
					<string>a3c</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.blorb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>blb</string>
					<string>blorb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.glulx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ulx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.glulx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>glb</string>
					<string>gblorb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.hugo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.jacl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>j2</string>
					<string>jacl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.level9</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>l9</string>
					<string>sna</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.magnetic</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mag</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.quest</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asl</string>
					<string>cas</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.saga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>saga</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.tads</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gam</string>
					<string>t3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.zcode</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z3</string>
					<string>z4</string>
					<string>z5</string>
					<string>z6</string>
					<string>z8</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>com.googlecode.garglk</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Story File</string>
			<key>UTTypeIconFile</key>
			<string>docu2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.zcode</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zlb</string>
					<string>zblorb</string>
				</array>
			</dict>
		</dict>		
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Gargoyle File Protocol</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>garglk</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
