100                     ICON    DISCARDABLE     "win/Glulx.ico"
101                     ICON    DISCARDABLE     "win/Blorb.ico"
102                     ICON    DISCARDABLE     "win/Ulx.ico"

1                       24                      "win/Git.manifest"

