[Desktop Entry]
Version=1.0
Type=Application
Name=Gargoyle
GenericName=Interactive Fiction interpreter
Comment=Interactive Fiction multi-interpreter that supports all major IF formats
Icon=gargoyle-house.png
Exec=gargoyle
Categories=Game;
