[Desktop Entry]
Version=1.0
Type=Application
Name=Gargoyle
GenericName=Interactive Fiction interpreter
Comment=Interactive Fiction multi-interpreter that supports all major IF formats
Icon=gargoyle-house
Exec=gargoyle %f
Categories=Game;
MimeType=application/x-adrift;application/x-advsys;application/x-agt;application/x-alan-adventure-game;application/x-alan3-adventure-game;application/x-blorb;application/x-glulx;application/x-hugo;application/x-level9;application/x-magscroll;application/x-tads;application/x-t3vm-image;application/x-zmachine;
